@import "@scss/_mixins";

.greatstudent {
  color: var(--color5);

  &__heading {
    color: var(--colour-d);
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    padding-top: 50px;
    text-align: center;
  }
  &__subHeading {
    text-align: center;
    color: var(--colour5);
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    padding-top: 25px;
    @include for-small-phone-only {
      br {
        display: none;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 92px;
    margin: 70px 0;

    @include for-small-phone-only {
      grid-template-columns: 1fr;
      gap: 30px;
    }
    @include for-tablet-portrait-up {
      gap: 30px;
    }
  }

  &__card {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    border-radius: 12px;
    box-shadow: 0px 0px 60px 1px rgba(0, 0, 0, 0.07);
    padding: 20px;

    @include for-small-phone-only {
      padding: 10px;
      flex-wrap: wrap;
    }
    @include for-tablet-portrait-up {
      padding: 10px;
      flex-wrap: wrap;
    }

    &__cardImage {
      border-radius: 12px;
    }
  }
  &__studentName {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    @include for-small-phone-only {
      font-size: 20px;
      line-height: 20px;
    }
  }
  &__studentRole {
    font-weight: 500;
    line-height: 32px;
    padding: 10px 0 15px;
    @include for-small-phone-only {
      font-size: 14px;
      line-height: 25px;
      padding: 8px;
    }
  }
}
